<div class="row">
    <div class="card col">
        <div class="ui statistic">
            <div class="label">
              Confirmed
            </div>
            <div class="value">
              {{totalConfirmed}}
            </div>
          </div>
    </div>
    <div class="card col">
        <div class="ui statistic">
            <div class="label">
              Recovered
            </div>
            <div class="value">
              {{totalRecovered}}
            </div>
          </div>
    </div>
    <div class="card col">
        <div class="ui statistic">
            <div class="label">
              Deaths
            </div>
            <div class="value">
              {{totalDeaths}}
            </div>
          </div>
    </div>
    <div class="card col">
        <div class="ui statistic">
            <div class="label">
              Actice
            </div>
            <div class="value">
              {{totalActive}}
            </div>
          </div>
    </div>
</div>
